<style type="text/css">


#babynav .menu li a, .babynav .menu li a:visited {display:block; text-decoration:none; color:#000;width:104px; text-align:center; color:#fff; font-family:'Î¢ÈíÑÅºÚ';}
#babynav .menu {padding:0; margin:0;list-style-type: none; }
#babynav .menu li { margin-right:1px; position:relative;z-index:100;}
#babynav .menu li a, 
#babynav .menu li a:visited { text-decoration:none; height:40px;line-height:40px; font-size:16px; font-family:'Î¢ÈíÑÅºÚ';font-weight:bold;}
/* specific to non IE browsers */
#babynav .menu li:hover a {color:#fff; height:40px;}

#babynav .menu li:hover ul li { color:#fff;display:block; background-color:#ffabab; height:40px;}
#babynav .menu li:hover ul li{ background-image:none;}
#babynav .menu li ul li{ background-image:none;}
#babynav .menu li ul li { display:none;}

#babynav .menu li:hover ul li a:hover {background:#FF7278; color:#fff;}
#babynav .menu li{ float:left; width:110px;background-image: url(http://baby.wangjing.cn/img/nav888.jpg);background-repeat: no-repeat;font-family:'Î¢ÈíÑÅºÚ';text-align: center;height: 40px;line-height: 40px;}
.babynav img{vertical-align:middle;}
.babynav .menu ul li a:hover{color:#FFF;background-image: url(http://baby.wangjing.cn/img/nav-aaa.jpg);background-repeat: no-repeat;background-position: center;}
.babynav .menu ul li a.selected{color:#FFF;background-image: url(http://baby.wangjing.cn/img/nav-aaa.jpg);background-repeat: no-repeat;background-position: center;}
#shequmenu{width: 110px; height: 190px; position: absolute; z-index: 100000; background: #f9a7ab; }
.babynav{font-size:14px;color:#ffffff;font-weight:bold;margin-bottom: 10px; height: 40px;width:100%}

#babynav{width:100%; background:url(http://baby.wangjing.cn/images/qinzinav.jpg) repeat-x;margin-bottom: 10px; margin: auto; margin-top:8px;}
.babynav a div { background:url(http://baby.wangjing.cn/images/qinzipindao.jpg) no-repeat;}
#babynav .menu .fatie{ float:right; margin-left:10px;}


</style>

<div id="babynav">
    <div class="babynav">
    <a href="http://baby.wangjing.cn/"><div style="width:160px; height:60px; float:left;"></div></a>
    <ul class="menu">
        <li><a href="http://info.wangjing.cn/index.php?action=search" target="_blank" >Ç××Ó»ú¹¹</a></li>
        <li><a href="forum-358-1.html" target="_blank" >×¼ÂèÂèÂÛÌ³</a></li>
        <li><a href="forum-106-1.html" target="_blank" >°ÖÂèÁÄÌìÊÒ</a></li>
        <li><a href="forum.php?mod=forumdisplay&amp;fid=106&amp;filter=typeid&amp;typeid=289" target="_blank" >Âèßä±¦±´Ğã</a></li>
        <li><a href="forum-362-1.html" target="_blank" >¼Ò³¤»á</a></li>
            <li><a href="forum.php?mod=forumdisplay&fid=253&filter=sortid&sortid=35&searchsort=1&trade_item=11" target="_blank" >Ä¸Ó¤ÓÃÆ·</a></li>
            <li class="fatie"><a href="javascript:void(0)"  style="height:auto; width:120px;">ÎÒÒª·¢Ìû</a>
        	<ul style="clear:both;">
                    <li><a href="forum.php?mod=post&amp;action=newthread&amp;fid=358">×¼ÂèÂè</a></li>
                    <li><a href="forum.php?mod=post&amp;action=newthread&amp;fid=106">º¢°Öº¢Âè</a></li>
                    <li><a href="http://bbs.wangjing.cn/forum.php?mod=post&action=newthread&fid=253">Ä¸Ó¤¶şÊÖ</a></li>
            </ul>
        </li>
    </ul>
     <div style="clear:both"></div>
    </div>
</div>
<div style="clear: both;"></div>
